@tailwind base;

@layer base {
	html,
	body,
	#__nuxt {
		width: 100%;
		height: max-content;
		margin: 0;
		scroll-behavior: smooth;
		scrollbar-width: none;
	}

	:root {
		@apply bg-base text-base-content;
	}
}

@tailwind components;

@layer components {
	@keyframes link-hover-bounce {
		0%,
		100% {
			transform: translateX(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateX(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

@tailwind utilities;

@layer utilities {
	.gradient-background {
		background-image: linear-gradient(90.73deg, #2af598 0%, #009efd 100%);
	}

	.gradient-text {
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(90.73deg, #2af598 0%, #009efd 100%);
	}
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/Montserrat-Black.ttf');
	font-weight: 900;
}
